@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "sans-serif";
}

a {
  text-decoration: none;
}
*::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif" !important;
}

iframe {
  border-radius: 0.5rem !important;
}
button {
  border-radius: 0.5rem !important;
}

:root:not(.theme-dark) {
  --tv-color-platform-background: #d1c4e9;
  --tv-color-pane-background: rgb(251, 223, 244);
  --tv-color-pane-background-secondary: rgb(249, 185, 233);
  --tv-color-toolbar-button-background-hover: rgb(244, 143, 177);
  --tv-color-toolbar-button-background-secondary-hover: red;
  --tv-color-toolbar-button-background-expanded: rgb(244, 143, 177);
  --tv-color-toolbar-button-text: rgb(136, 24, 79);
  --tv-color-toolbar-button-text-hover: rgb(74, 20, 140);
  --tv-color-toolbar-button-text-active: red;
  --tv-color-toolbar-button-text-active-hover: red;
  --tv-color-item-active-text: rgb(6, 6, 255);
  --tv-color-toolbar-toggle-button-background-active: red;
  --tv-color-toolbar-toggle-button-background-active-hover: magenta;
}

.theme-dark:root {
  --tv-color-platform-background: #d1c4e9;
  --tv-color-pane-background: rgb(251, 223, 244);
  --tv-color-pane-background-secondary: rgb(249, 185, 233);
  --tv-color-toolbar-button-background-hover: rgb(244, 143, 177);
  --tv-color-toolbar-button-background-secondary-hover: red;
  --tv-color-toolbar-button-background-expanded: rgb(244, 143, 177);
  --tv-color-toolbar-button-text: rgb(136, 24, 79);
  --tv-color-toolbar-button-text-hover: rgb(74, 20, 140);
  --tv-color-toolbar-button-text-active: red;
  --tv-color-toolbar-button-text-active-hover: red;
  --tv-color-item-active-text: rgb(6, 255, 6);
  --tv-color-toolbar-toggle-button-background-active: red;
  --tv-color-toolbar-toggle-button-background-active-hover: magenta;
}

html .chart-page,
html .chart-page .chart-container-border,
html .chart-controls-bar,
html .drawingToolbar-U3_QXRof- {
  background: transparent !important;
  background-color: transparent !important;
}

.chart-controls-bar {
  border-top: none !important;
}

.chart-page,
.group-wWM3zP_M- {
  background: transparent !important;
}

.pane-separator {
  display: none !important;
}
